@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

#root {
  @apply min-h-screen min-w-full bg-teal-100 bg-gradient-to-r from-cyan-50 to-teal-100;
}

.gradient-text {
  background: rgb(2, 0, 36);
  background: -webkit-linear-gradient(
    20deg,
    rgba(0, 212, 255, 1) 5%,
    rgba(9, 9, 121, 1) 29%,
    rgba(2, 0, 36, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animateText 3s linear infinite alternate;
}

.btn-gradient {
  background-image: linear-gradient(
    to right,
    #00bf8f 0%,
    #001510 51%,
    #00bf8f 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-gradient:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

@keyframes animateText {
  0% {
    background-size: 150% auto;
  }
  100% {
    background-size: 350%;
  }
}

.active-style:active {
  color: white !important;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity)) !important;
}
